########################################
# LED Settings
########################################

[neopixel vendetta_leds]
pin: EBBCan:PD3
chain_count: 8
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. 1-7 in the logo and 8 at the lower shroud for nozzle.
color_order: GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0

[neopixel Enclosure]
pin: mcu:PB10
chain_count: 144
color_order: RGB

initial_RED: 1
initial_GREEN: 1
initial_BLUE: 1

########################################
# LED Settings
########################################

