#LED EFFECTS
#
#V400 and AFC

########################################
# LED Settings
########################################


[led_effect idle]
autostart:              False
frame_rate:             30
leds:
    neopixel:Enclosure

layers:
    breathing  10 1 top (.5,.5,1)

[led_effect loading_spool]
leds:
    neopixel:Enclosure
layers:
    chase          1  1.5   top        (0.0,  0.5, 1.0), (0.0, 1.0, 0.1)
    static         1  0     bottom     (0.5,  0.5, 0.5)
autostart:                             false
frame_rate:                            24
run_on_error:                          false

[led_effect unloading_spool]
leds:
    neopixel:Enclosure
layers:
    chase          -1  1.5   top        (0.0,  0.5, 1.0), (0.0, 1.0, 0.1)
    static         1  0     bottom     (0.5,  0.5, 0.5)
autostart:                             false
frame_rate:                            24
run_on_error:                          false
